<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beautiful News</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="author" content="Information is Beautiful" />
    <meta
      name="description"
      content="Unseen trends, uplifting stats, creative solutions — a new chart every day. From Information is Beautiful."
    />
    <base href="https://informationisbeautiful.net/beautifulnews/" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://s3.amazonaws.com/infobeautiful-bnews/assets/style.min.css?v=2020v2.3"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/beautifulnews/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/beautifulnews/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/beautifulnews/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/beautifulnews/manifest.json"
      crossorigin="use-credentials"
    />
    <link
      rel="mask-icon"
      href="/beautifulnews/safari-pinned-tab.svg"
      color="#ff7515"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      property="og:image"
      content="https://s3.amazonaws.com/infobeautiful-bnews/assets/img/splash.png"
    />
    <meta property="og:site_name" content="Beautiful News" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Beautiful News" />
    <meta
      property="og:description"
      content="Unseen trends, uplifting stats, creative solutions — a new chart every day. From Information is Beautiful."
    />
    <meta
      property="og:url"
      content="https://informationisbeautiful.net/beautifulnews/q/topic:society-and-community/"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Beautiful News" />
    <meta
      name="twitter:description"
      content="Unseen trends, uplifting stats, creative solutions — a new chart every day. From Information is Beautiful."
    />
    <meta
      name="twitter:image"
      content="https://s3.amazonaws.com/infobeautiful-bnews/assets/img/splash.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    data-view="grid"
    data-loaded=""
    class="bn-working bn-hide-nav-filters"
    itemscope
    itemtype="http://schema.org/WebPage"
  >
    <a class="bn-skip-content bn-sr-only" href="#content">Skip to content</a>
    <div class="bn-base">
      <header class="bn-header">
        <div class="bn-container">
          <div class="bn-head">
            <div class="bn-head-left">
              <div class="bn-logo">
                <a class="bn-logo-link" href="/beautifulnews">
                  <img
                    src="/beautifulnews/assets/img/bnews-logo-with-strap.svg"
                    alt="Beautiful News"
                  />
                </a>
              </div>
              <div class="bn-nav-wrapper">
                <nav class="bn-nav" id="bn-nav">
                  <ul>
                    <li class="bn-nav-item-wrapper bn-nav-item-wrapper--iib">
                      <a
                        href="https://informationisbeautiful.net"
                        class="bn-nav-item bn-nav--iib"
                        >Information is Beautiful</a
                      >
                    </li>
                    <li class="bn-nav-item-wrapper bn-nav-item-wrapper--book">
                      <a
                        href="https://www.informationisbeautiful.net/books/"
                        class="bn-nav-item bn-nav--book"
                        >Book</a
                      >
                    </li>
                    <li class="bn-nav-item-wrapper bn-nav-item-wrapper--about">
                      <a
                        href="/beautifulnews/about"
                        data-page="about"
                        class="bn-nav-item bn-nav--about"
                        >About</a
                      >
                    </li>
                    <li class="bn-nav-item-wrapper bn-nav-item-wrapper--data">
                      <a
                        href="/beautifulnews/data"
                        data-page="data"
                        class="bn-nav-item bn-nav--data"
                        >Data</a
                      >
                    </li>
                    <li class="bn-nav-item-wrapper bn-nav-item-wrapper--random">
                      <a
                        href="/beautifulnews/random"
                        data-page="random"
                        class="bn-aux-button--random bn-nav--random"
                        >Random</a
                      >
                    </li>
                  </ul>
                </nav>
                <nav class="bn-nav-secondary">
                  <ul>
                    <li class="bn-nav-social bn-nav-social--facebook">
                      <a
                        href="https://facebook.com/beautifulnewsdaily/"
                        target="_blank"
                        ><i class="icon-facebook"></i><span>Facebook</span></a
                      >
                    </li>
                    <li class="bn-nav-social bn-nav-social--twitter">
                      <a
                        href="https://twitter.com/beautiful__news"
                        target="_blank"
                        ><i class="icon-twitter"></i><span>Twitter</span></a
                      >
                    </li>
                    <li class="bn-nav-social bn-nav-social--instagram">
                      <a
                        href="https://instagram.com/beautifulnews.daily"
                        target="_blank"
                        ><i class="icon-instagram"></i><span>Instagram</span></a
                      >
                    </li>
                    <li class="bn-nav-social bn-nav-social--rss">
                      <a
                        href="http://feeds.feedburner.com/beautifulnewsdaily"
                        target="_blank"
                        ><i class="icon-rss"></i><span>RSS</span></a
                      >
                    </li>
                    <li class="bn-nav-social bn-nav-social--signup">
                      <a href="#" class="bn-signup-trigger"
                        ><i class="icon-mail-alt"></i><span>Signup</span></a
                      >
                    </li>
                    <li>
                      <button
                        class="bn-menu-trigger"
                        aria-haspopup="true"
                        aria-controls="bn-nav"
                      >
                        <span class="bn-sr-only">Menu</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="bn-nav-filters">
              <ul>
                <li class="bn-sort-container">
                  <label for="bn-sort-nav" class="bn-sr-only">Sort:</label>
                  <div class="bn-sort-wrapper">
                    <div class="bn-select-wrapper">
                      <select
                        class="bn-select bn-sort bn-sort-nav"
                        id="bn-sort-nav"
                      >
                        <option value="newest">Sort: Newest</option>
                        <option value="oldest">Sort: Oldest</option>
                        <option value="popular">Sort: Popular</option>
                      </select>
                    </div>
                  </div>
                </li>
                <li class="bn-nav-filter-trigger-wrapper">
                  <button class="bn-nav-item bn-nav-filter-trigger">
                    <i class="icon-globe"></i>
                  </button>
                </li>
              </ul>
              <form class="bn-search-wrapper">
                <input
                  type="search"
                  name="s"
                  id="s"
                  class="bn-search-input bn-search-input-nav"
                  placeholder="Search..."
                /><button type="submit" class="bn-search-button">
                  <i class="icon-search"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="bn-filter-tabs-mobile"></div>
          <div class="bn-controls-wrapper bn-controls--loading">
            <div class="bn-filter-tab-wrapper">
              <div class="bn-filter-tabs-inner">
                <label class="bn-sr-only" id="bn-filter-label">Filter:</label>
                <div
                  class="bn-filter-tabs"
                  aria-labelledby="bn-filter-label"
                ></div>
              </div>
              <div class="bn-subfilter-tabs-inner">
                <label class="bn-sr-only" id="bn-sub-filter-label"
                  >Sub filter:</label
                >
                <div
                  class="bn-subfilter-tabs"
                  area-labelledby="bn-sub-filter-label"
                ></div>
              </div>
            </div>
            <div class="bn-controls">
              <div class="bn-control-set">
                <div class="bn-filter-set-wrapper bn-filter-set-wrapper--top">
                  <label class="bn-control-label bn-sr-only">Topic:</label>
                  <div class="bn-filter-wrapper"></div>
                </div>
                <div class="bn-filter-set-wrapper bn-filter-set-wrapper--sub">
                  <label class="bn-control-label bn-sr-only" for="bn-sub-filter"
                    >Subtopic:</label
                  >
                  <div class="bn-subfilter-wrapper"></div>
                </div>
                <div class="bn-filter-set-wrapper bn-filter-set-wrapper--area">
                  <label
                    class="bn-control-label bn-sr-only"
                    for="bn-area-filter"
                    >Location:</label
                  >
                  <div class="bn-area-wrapper"></div>
                </div>
              </div>
              <div class="bn-control-set">
                <div
                  class="bn-filter-set-wrapper bn-filter-set-wrapper--search"
                >
                  <label class="bn-control-label bn-sr-only" for="bn-search"
                    >Search:</label
                  >
                  <form class="bn-search-wrapper">
                    <input
                      type="search"
                      name="s"
                      id="bn-search"
                      class="bn-search-input bn-search-input-menu"
                      placeholder="Search..."
                    /><button type="submit" class="bn-search-button">
                      <i class="icon-search"></i>
                    </button>
                  </form>
                </div>
                <div class="bn-filter-set-wrapper bn-filter-set-wrapper--sort">
                  <label class="bn-control-label bn-sr-only" for="bn-sort"
                    >Sort:</label
                  >
                  <div class="bn-sort-wrapper">
                    <div class="bn-select-wrapper">
                      <select
                        class="bn-select bn-sort bn-sort-menu"
                        id="bn-sort"
                      >
                        <option value="newest">Sort: Newest</option>
                        <option value="oldest">Sort: Oldest</option>
                        <option value="popular">Sort: Popular</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bn-control-set">
                <button class="bn-filter-submit">
                  <i class="icon-ok"></i> Done
                </button>
              </div>
              <div class="bn-control-set">
                <a
                  title="Load a random image"
                  class="bn-aux-button--large bn-aux-button--random"
                  href="/beautifulnews/random"
                  ><i class="icon-shuffle"></i> Random</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="bn-content-area" id="content"></main>
      <a class="bn-back-top" href="#"> <i class="icon-up-open"></i>Top</a>
      <footer class="bn-footer">
        <div class="bn-container">
          <span
            >A project by
            <a href="https://informationisbeautiful.net/" target="_blank"
              >Information is Beautiful</a
            >.</span
          >
          <span
            >Feel free to use, download and spread these images as much as you
            like. They're covered by a
            <strong
              >Creative Commons license (<a
                href="https://creativecommons.org/licenses/by-sa/4.0/"
                target="_blank"
                >CC BY-SA 4.0</a
              >)</strong
            >.</span
          >
        </div>
      </footer>
      <div class="bn-modal-wrapper">
        <div class="bn-modal">
          <button class="bn-modal-close"><i class="icon-close"></i></button>
          <div class="bn-modal-content"></div>
        </div>
      </div>
    </div>
    <div class="bn-status"><div class="bn-loader"></div></div>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-78564544-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date()); //gtag('config', 'UA-78564544-2');
    </script>
    <script src="https://s3.amazonaws.com/infobeautiful-bnews/assets/main.min.js?v=2020v2.3"></script>
  </body>
</html>
