@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "apexcharts.css";
@import "perfect-scrollbar.css";
@import "daterangepicker.css";

/* primary colors secondary color */

:root {
  --body-font: "Nunito", sans-serif;
  --desktop-width: 250px;
  --mobile-width: 60px;
  --header-height: 50px;

  /* Color valiables */
  --white-100: #ffffff;
  --lavender-100: #eee9ff;
  --primary-100: rgb(196, 217, 255);
  --primary-200: rgb(163, 191, 244);
  --primary-300: rgb(130, 165, 233);
  --primary-400: rgb(97, 140, 221);
  --primary-500: rgb(64, 114, 210);
  --primary-600: rgb(47, 69, 236);
  --primary-700: rgb(23, 66, 149);
  --primary-800: rgb(18, 44, 94);
  --primary-900: #0f3f6e;
  --extra-800: rgb(68, 227, 211);

  --darklight-100: #ffffff;
  --darklight-200: #dbdbdb;
  --darklight-300: #b6b6b6;
  --darklight-400: #929292;
  --darklight-500: #6d6d6d;
  --darklight-600: #494949;
  --darklight-700: #242424;
  --darklight-800: #000000;
  --fontweight-400: 400;
  --fontweight-500: 500;
  --fontweight-600: 600;
  --fontweight-700: 700;
  --fontweight-800: 800;
  --fontweight-900: 900;
}

/* ////////// scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee9ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 112, 157, 0.7);
  border-radius: 8px;
  opacity: 0.7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f3f6e;
  cursor: grab;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}
a {
  text-decoration: none;
}
.list-style-none {
  list-style: none;
}
.blur {
  filter: blur(3px);
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: Icofont !important;
  content: "\eab8" !important;
}

.text-primary-100 {
  color: var(--primary-100);
}
.text-primary-200 {
  color: var(--primary-200);
}
.text-primary-300 {
  color: var(--primary-300);
}
.text-primary-400 {
  color: var(--primary-400);
}
.text-primary-500 {
  color: var(--primary-500);
}
.text-primary-600 {
  color: var(--primary-600);
}
.text-primary-700 {
  color: var(--primary-700);
}
.text-primary-800 {
  color: var(--primary-800);
}
.text-primary-900 {
  color: var(--primary-900);
}
.text-darklight-100 {
  color: var(--darklight-100);
}
.text-darklight-200 {
  color: var(--darklight-200);
}
.text-darklight-300 {
  color: var(--darklight-300);
}
.text-darklight-400 {
  color: var(--darklight-400);
}
.text-darklight-500 {
  color: var(--darklight-500);
}
.text-darklight-600 {
  color: var(--darklight-600);
}
.text-darklight-700 {
  color: var(--darklight-700);
}
.text-darklight-800 {
  color: var(--darklight-800);
}
.text-extra-800 {
  color: var(--extra-800);
}

.bg-lavender-100 {
  background: var(--lavender-100);
}

.bg-primary-100 {
  background: var(--primary-100);
}
.bg-primary-200 {
  background: var(--primary-200);
}
.bg-primary-300 {
  background: var(--primary-300);
}
.bg-primary-400 {
  background: var(--primary-400);
}
.bg-primary-500 {
  background: var(--primary-500);
}
.bg-primary-600 {
  background: var(--primary-600);
}
.bg-primary-700 {
  background: var(--primary-700);
}
.bg-primary-800 {
  background: var(--primary-800);
}
.bg-extra-800 {
  background: var(--extra-800);
}

.bg-darklight-100 {
  background: var(--darklight-100);
}
.bg-darklight-200 {
  background: var(--darklight-200);
}
.bg-darklight-300 {
  background: var(--darklight-300);
}
.bg-darklight-400 {
  background: var(--darklight-400);
}
.bg-darklight-500 {
  background: var(--darklight-500);
}
.bg-darklight-600 {
  background: var(--darklight-600);
}
.bg-darklight-700 {
  background: var(--darklight-700);
}
.bg-darklight-800 {
  background: var(--darklight-800);
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-30 {
  font-size: 30px;
}
.fs-34 {
  font-size: 34px;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.authorname {
  position: relative;
  color: #000;
  text-decoration: none;
}

.authorname:hover {
  color: #000;
}

.authorname::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.authorname:hover::before {
  transform: scaleX(1);
}

.thumbnailwrapper {
  width: 54px;
  height: 54px;
  
}

/*============= Header ======== */

header {
  background: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 11;
}

header .logo {
  max-width: 140px;
  object-fit: cover;
  padding-right: 10px;
  padding-top: 0;
}

header .header_list li .header-link {
  color: #0f3f6e;
}

header .header-right .header_list li {
  transition: all 0.3s ease-in;
}

header .header-right .header_list li:hover {
  background-color: rgba(96, 50, 233, 0.08);
}

header .header-right {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      to(#fff)
    ),
    -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff)),
    -webkit-gradient(linear, left top, left bottom, from(#eee9ff), to(#eee9ff));
  height: 80px;
  margin-bottom: 0;
  width: 70%;
}

@media (max-width: 500px) {
  header .header-right {
    width: 60%;
  }
}

header .header-right .header_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

header .header-right .header-iconlist {
  display: none;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

@media (max-width: 870px) {
  header .header-right .header_list {
    display: none;
  }

  header .header-right .header-iconlist {
    display: flex;
    gap: 20px;
  }
}

@media (min-width: 870px) {
  header .header-right {
    width: calc(100% - 370px);
  }
}

/*============= Header Ends ======== */

/*============= Footer ======== */
footer {
  background-color: #0f3f6e;
}

footer .footer-logo {
  max-width: 170px;
  /* padding-left: 10px; */
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 10px;
}

.social-icons {
  padding-left: 10px;
}

.footer .ending {
  font-size: 12px;
  opacity: 0.5;
}
.vl {
  border-left: 1px solid white;
  height: 15px;
  opacity: 0.8;
}
.footer li {
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.5;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: none;
  color: white;
}

.footer .footer-header {
  padding-bottom: 10px;
}
.footer :focus,
input:focus {
  outline: none;
}
.footer input {
  min-width: 70%;
}
.footer .email-block {
  min-width: 100% !important;
}
.footer hr {
  margin-top: 3.5rem !important;
  margin-bottom: 1.5rem !important;
}
/*============= Footer Ends ======== */

/*============= categories======== */
/*  */
.category img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.category-card-item {
  margin-bottom: 3rem;
  width: 100%;
}

.category-card-item img {
  color: transparent;
  height: auto;
  width: 100%;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 1s;
  transition-property: transform;
}

.category-card-item img:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.category-section .category-card-items-list {
  display: grid;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .category-section .category-card-items-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .category-section .category-card-items-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .category-section .category-card-items-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 640px) {
  .category-section .category-card-items-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
  .category-section .category-card-items-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .category-section .category-card-items-list h4 {
    font-size: 18px;
  }
}

.category-section .category-card-items-list h4 {
  font-size: 16px;
}

.category-section .sm-mb {
  margin-bottom: 0.5rem;
}

/*============= Login======== */
.login-header {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.form-section input {
  width: 100%;
}
.form-section label {
  font-weight: 600;
  font-size: 12px;
}
.form-section form {
  min-width: 400px;
}

.form-head h1 {
  font-size: 18px;
  font-weight: 800;
}

.form-head p {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .form-section {
    padding: 20px;
    margin-bottom: 2rem;
  }

  .form-section input {
    width: 100%;
  }
}

/* sign up */

.colblue {
  color: var(--primary-800);
}
.password-rules {
  line-height: 1.3;
}

.login-header {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.signup-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.signup-form-section input {
  width: 100%;
}
.signup-form-section label {
  font-weight: 600;
  font-size: 14px;
}
.signup-form-section form {
  max-width: 400px;
}

.signup-form-section h1 {
  font-size: 18px;
  font-weight: 800;
}

.signup-form-section p {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .signup-form-section {
    padding: 20px;
    margin-bottom: 2rem;
  }

  .signup-form-section input {
    width: 100%;
  }
}

/* Infographic style */

blockquote,
body,
button,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
input,
li,
ol,
p,
select,
textarea,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

@media (max-width: 279px) {
  body .bn-base {
    display: none;
  }
}

body[data-view="page"] .bn-content-area {
  padding-top: 20px;
}

@media (min-width: 941px) {
  body[data-view="page"] .bn-content-area {
    padding-top: 30px;
  }
}

.bn-container {
  margin: auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}

@media (min-width: 801px) {
  .bn-container {
    width: calc(100% - 100px);
  }
}

@media (min-width: 801px) {
  .bn-single .bn-single-meta h3.bn-single-meta-title {
    margin-top: 30px;
  }
}

.bn-single .bn-single-meta h3.bn-single-meta-title {
  font-size: 12px;
  font-weight: 600;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.bn-single .bn-single-meta .bn-single-topics li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.bn-single .bn-single-meta .bn-single-topics li a {
  color: #1040f0;
  display: inline-block;
  font-size: 11px;
  padding: 3px 5px;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .bn-single .bn-single-meta.bn-single-meta--signup {
    padding: 30px 0;
  }
}

@media (min-width: 1025px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .bn-single
    .bn-single-meta.bn-single-meta--signup
    .bn-signup--col:first-child {
    width: 600px;
  }
}

@media (min-width: 1025px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup--info {
    margin-bottom: 0;
    padding-right: 20px;
  }
}
.bn-single .bn-single-meta.bn-single-meta--signup .bn-signup--info {
  margin-bottom: 20px;
}

@media (min-width: 1025px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 801px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup {
    max-width: 100%;
    width: 100%;
  }
}
@media (min-width: 641px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup {
    margin: auto;
    max-width: calc(100% - 20px);
  }
}

@media (min-width: 1025px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup--col:last-child {
    width: calc(100% - 600px);
  }
}

@media (min-width: 1025px) {
  .bn-single .bn-single-meta.bn-single-meta--signup .bn-signup--input {
    padding-left: 20px;
  }
}

.bn-base {
  overflow: hidden;
  position: relative;
}

.bn-content-area {
  margin-top: 50px;
  min-height: calc(100vh - 190px);
}

@media (min-height: 601px) and (max-width: 939px) {
  body[data-view="grid"] .bn-content-area {
    margin-top: 94px;
  }
}

@media (min-width: 941px) {
  .bn-content-area {
    margin-top: 0;
  }
}

body[data-view="page"] .bn-content-area {
  padding-bottom: 100px;
}

body.bn-menu-open .bn-content-area {
  filter: blur(2px);
  opacity: 0.3;
}

@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

body.bn-working .bn-base {
  pointer-events: none;
}

body.bn-working .bn-breadcrumbs,
body.bn-working .bn-grid-title {
  opacity: 0;
}

body.bn-working .bn-item,
body.bn-working .bn-single {
  opacity: 0 !important;
}

.bn-filter-tab-wrapper .bn-filter-item .bn-filter:after {
  content: "\e804";
  display: none;
  font-size: 10px;
  font-weight: 400;
  margin-left: 5px;
  transform: translateY(-1px);
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-tabs ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-tabs ul {
    display: flex !important;
    justify-content: space-between;
  }
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-tabs ul {
    display: flex !important;
    justify-content: space-between;
  }
}

/* @media (min-width: 941px) {

  body[data-view=page] .bn-controls-wrapper,
  body[data-view=single] .bn-controls-wrapper {
      display: none;
      height: 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden
  }
} */

.bn-filter-tab-wrapper {
  display: block;
  padding: 10px 20px 0;
}

@media (min-width: 501px) {
  .bn-filter-tab-wrapper {
    padding: 20px 20px 0;
  }
}

@media (min-width: 941px) {
  .bn-filter-tab-wrapper {
    display: block;
    margin-bottom: 15px;
    padding: 15px 0 0;
    position: static;
  }
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-tabs ul {
    display: flex;
    justify-content: space-between;
  }
}

.bn-filter-tab-wrapper .bn-filter-item {
  display: inline-block;
  margin-right: 5px;
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-item {
    display: block;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }
}

.bn-filter-tab-wrapper .bn-filter-item:last-child {
  margin-right: 0;
}

.bn-filter-tab-wrapper .bn-filter-item .bn-filter {
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 3px 7px;
  position: relative;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 10px;
}

.bn-filter-tab-wrapper .bn-filter-item .bn-filter:hover {
  background: #1040f0;
  color: #fff;
}

.bn-filter-tab-wrapper .bn-filter-item .bn-filter:after {
  content: "\e804";
  display: none;
  font-size: 10px;
  font-weight: 400;
  margin-left: 5px;
  transform: translateY(-1px);
}

.bn-filter-tab-wrapper .bn-filter-item .bn-filter {
  background-color: #eee9ff;
  color: #1040f0;
}

@media (min-width: 801px) {
  .bn-filter-tab-wrapper .bn-filter-item .bn-filter {
    line-height: 25px;
  }
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-item .bn-filter {
    padding: 4px 12px;
  }
}

ul {
  list-style: none;
}

/* @media (min-width: 941px) {
  .bn-controls-wrapper {
      background: none;
      height: auto;
      padding: 0;
      position: static;
      transform: none;
      width: 100%;
      z-index: 3;
  }
} */

.bn-subfilter-tabs ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

/* @media (min-width: 941px) {
  .bn-subfilter-tabs ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
  }
} */

@media (min-width: 941px) {
  .bn-filter-tab-wrapper {
    display: block;
    margin-bottom: 15px;
    padding: 15px 0 0;
    position: static;
  }
}

@media (min-width: 1201px) {
  .bn-filter-tab-wrapper .bn-filter-item {
    display: block;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
  }
}
/* .bn-filter-top{
  background-color: #1040f0;
  color: white;
} */
.bn-filter-tab-wrapper .bn-filter-item:last-child {
  margin-right: 0;
}

@media (min-width: 801px) {
  .bn-filter-tab-wrapper .bn-filter-item .bn-filter {
    line-height: 25px;
  }
}

@media (min-width: 941px) {
  .bn-subfilter-tabs {
    display: block;
  }

  .bn-subfilter-tabs ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
}

.bn-subfilter-item {
  opacity: 0;
  transform: translateY(10px);
}

.bn-subfilter {
  cursor: pointer;
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 5px 8px;
  border-radius: 8px;
  transition: all 0.2s ease-out;
  background-color: #eee9ff;
  color: #1040f0;
}

.bn-subfilter:hover {
  background: #1040f0;
  color: #e7e7e7;
}

.bn-subfilter--active {
  color: white !important;
  background: #1040f0 !important;
}

@media (min-width: 1201px) {
  .bn-subfilter {
    font-size: 14px;
  }
}

@media (min-width: 941px) {
  .bn-filter-set-wrapper--search,
  .bn-filter-set-wrapper--sort,
  .bn-filter-set-wrapper--sub,
  .bn-filter-set-wrapper--top,
  .bn-filter-submit {
    display: none;
  }
}

.bn-filter-set-wrapper--top,
body.bn-hide-nav-filters .bn-filter-set-wrapper--area,
body.bn-hide-nav-filters .bn-filter-set-wrapper--sort {
  display: none;
}

@media (min-height: 601px) {
  .bn-control-label {
    display: block;
    margin-bottom: 8px;
  }
}

@media (min-width: 801px) {
  .bn-control-label {
    display: block;
  }
}

.bn-search-wrapper {
  position: relative;
  width: 100%;
}

@media (min-width: 941px) {
  .bn-search-wrapper {
    width: 130px;
  }
}

@media (min-width: 1025px) {
  .bn-search-wrapper {
    width: 160px;
  }
}

@media (min-width: 1281px) {
  .bn-search-wrapper {
    width: 180px;
  }
}

.bn-search-button,
.bn-search-input {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #e7e7e7;
  line-height: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-right: 0;
  padding: 5px 10px 4px;
}

@media (min-width: 941px) {
  .bn-search-button,
  .bn-search-input {
    line-height: 25px;
    margin-bottom: 0;
  }
}

.bn-search-button {
  background: none;
  border-left: 0;
  cursor: pointer;
  font-size: 10px;
  height: calc(100% - 16px);
  position: relative;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 30px;
}

.bn-search-button i {
  position: relative;
  top: -4px;
}

@media (min-width: 941px) {
  .bn-search-button i {
    top: -3px;
  }

  .bn-search-button {
    background: #313136;
    height: calc(100% - 6px);
  }
}

.bn-search-input {
  background: #2a2a2e;
  background: none;
  border: 1px solid #2a2a2e;
  border-radius: 0;
  color: #e7e7e7;
  font-size: 16px;
  width: 100%;
}

@media (min-width: 941px) {
  .bn-search-input {
    font-size: 12px;
  }

  .bn-search-input:focus + .bn-search-button,
  .bn-search-input:hover,
  .bn-search-input:hover + .bn-search-button {
    background: #2a2a2e;
  }
}

@media (min-width: 1025px) {
  .bn-search-input {
    font-size: 14px;
  }
}

.bn-search-input:focus {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.bn-search-input::-moz-placeholder {
  color: #e7e7e7;
}

.bn-search-input:-ms-input-placeholder {
  color: #e7e7e7;
}

.bn-search-input::placeholder {
  color: #e7e7e7;
}

.bn-search-input:focus::-moz-placeholder {
  color: #666;
}

.bn-search-input:focus:-ms-input-placeholder {
  color: #666;
}

.bn-search-input:focus::placeholder {
  color: #666;
}

.bn-search-input:-webkit-autofill,
.bn-search-input:-webkit-autofill:focus,
.bn-search-input:-webkit-autofill:hover {
  -webkit-text-fill-color: #e7e7e7;
  box-shadow: inset 0 0 0 1000px #2a2a2e;
  color: #e7e7e7;
}

.bn-select-wrapper {
  position: relative;
}

.bn-select-wrapper:after {
  color: #e7e7e7;
  content: "\e80e";
  font-family: bnews;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 13px;
}

.bn-select-wrapper .bn-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: none;
  border: 1px solid #2a2a2e;
  border-radius: 0;
  color: #e7e7e7;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 10px;
  text-transform: capitalize;
  width: 100%;
}

@media (min-width: 941px) {
  .bn-select-wrapper .bn-select {
    font-size: 14px;
  }

  .bn-select-wrapper .bn-select.bn-sort {
    font-size: 12px;
    padding: 9px 10px;
  }
}

@media (min-width: 1025px) {
  .bn-select-wrapper .bn-select.bn-sort {
    font-size: 14px;
    padding: 8px 10px;
  }
}

.bn-select-wrapper:focus {
  background: red;
  color: #111;
}

.bn-select-wrapper .bn-select option {
  color: #111;
  text-transform: capitalize;
}

.bn-select-wrapper .bn-select optgroup[label="Areas"],
.bn-select-wrapper .bn-select optgroup[label="Countries"] {
  color: #111;
}

.bn-sort-container label {
  display: none;
}

@media (min-width: 941px) {
  .bn-sort-container {
    display: flex;
  }

  .bn-sort-container label {
    align-items: center;
    color: #e7e7e7;
    display: flex;
    font-size: 14px;
    line-height: 25px;
    margin-right: 10px;
    transform: translateY(1px);
  }
}

.bn-sort-wrapper {
  width: 100%;
}

.bn-sort-wrapper i {
  display: none;
}

@media (min-width: 941px) {
  .bn-sort-wrapper {
    width: 110px;
  }
}

@media (min-width: 1025px) {
  .bn-sort-wrapper {
    width: 125px;
  }
}

.bn-area-wrapper {
  width: 100%;
}

@media (min-width: 941px) {
  .bn-area-wrapper {
    width: 200px;
  }
}

.bn-nav-wrapper {
  display: flex;
}

.bn-menu-trigger {
  background: none;
  color: #e7e7e7;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  padding: 0;
  transform: translateY(1px);
  z-index: 10;
}

@media (min-width: 501px) {
  .bn-menu-trigger {
    font-size: 16px;
  }
}

@media (min-width: 941px) {
  .bn-menu-trigger {
    display: none;
    margin-left: 10px;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
  }
}

.bn-menu-trigger:after {
  content: "\f008";
  display: inline-block;
  font-family: bnews;
  width: 18px;
}

body.bn-menu-open .bn-menu-trigger {
  color: #fff;
}

body.bn-menu-open .bn-menu-trigger:after {
  content: "\e81d";
}

/* .bn-controls-wrapper {
  background: #171719;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 110px;
  transform: translateX(100%);
  transition: all .3s ease-out;
  width: 90vw;
  z-index: 12
} */

/* @media (min-width: 501px) {
  .bn-controls-wrapper {
      height:calc(100vh - 50px);
      top: 50px;
      width: 400px
  }
} */

/* @media (max-width: 939px) {
  body.bn-menu-open .bn-controls-wrapper {
      opacity:1;
      transform: translateX(0) skew(0);
      visibility: visible
  }
} */

@media (min-width: 941px) {
  .bn-controls-wrapper {
    background: none;
    height: auto;
    padding: 0;
    position: static;
    transform: none;
    width: 100%;
    z-index: 3;
  }
}

@media (min-width: 941px) {
  body.bn-404 .bn-controls-wrapper {
    display: none;
  }
}

.bn-controls {
  align-items: top;
  display: block;
  opacity: 1;
  padding: 10px 20px 20px;
  transition: all 0.2s ease-out;
  width: 100%;
  z-index: 6;
}

@media (min-width: 501px) {
  .bn-controls {
    padding: 20px;
  }
}

@media (min-width: 641px) {
  .bn-controls {
    justify-content: space-between;
  }
}

@media (min-width: 941px) {
  .bn-controls {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    height: 0;
    justify-content: space-between;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    top: 0;
  }
}

body.bn-controls-open .bn-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  overflow: visible;
}

@media (min-width: 941px) {
  body.bn-controls-open .bn-controls {
    height: 45px;
    margin-bottom: 20px;
    opacity: 1;
  }
}

.bn-controls-toggle {
  display: none;
  padding: 0;
  text-align: center;
}

@media (min-width: 941px) {
  .bn-controls-toggle {
    display: none;
  }
}

.bn-controls-toggle .bn-controls-trigger {
  background: #2a2a2e;
  border-top: 0;
  color: #e7e7e7;
  font-size: 14px;
  height: 50px;
  width: 100%;
}

.bn-aux-button {
  align-items: center;
  background: none;
  border: 1px solid #2a2a2e;
  border-radius: 0;
  color: #e7e7e7;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  margin-left: 5px;
  padding: 0 7px;
  text-align: center;
  text-decoration: none;
}

.bn-aux-button:hover {
  background: #2a2a2e;
}

.bn-aux-button--large {
  background: none;
  border: 2px solid #e7e7e7;
  color: #e7e7e7;
  display: block;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.bn-aux-button--large i {
  position: relative;
  top: 1px;
}

@media (min-width: 601px) {
  .bn-aux-button--random {
    display: none;
  }
}

.bn-subgrid {
  margin: 0 0 40px;
  padding-top: 20px;
  position: relative;
  transition: all 0s ease-out;
}

@supports (display: grid) {
  .bn-subgrid {
    grid-gap: 4px;
    display: grid;
    grid-auto-flow: dense;
  }
}

html.no-grid .bn-subgrid:after,
html.no-grid .bn-subgrid:before {
  content: " ";
  display: table;
}

html.no-grid .bn-subgrid:after {
  clear: both;
}

.bn-subgrid.bn-related-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 501px) {
  .bn-subgrid.bn-related-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  html.no-grid .bn-subgrid.bn-related-items .bn-item {
    width: 33.3%;
  }
}

@media (min-width: 1025px) {
  .bn-subgrid.bn-related-items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  html.no-grid .bn-subgrid.bn-related-items .bn-item {
    width: 16.6666666667%;
  }
}

.bn-subgrid.bn-trending-items {
  margin-top: 80px;
  width: 100%;
}

.bn-grid {
  margin: 0 0 40px;
  padding-top: 20px;
  position: relative;
  transition: all 0s ease-out;
}

html.no-grid .bn-grid:after,
html.no-grid .bn-grid:before {
  content: " ";
  display: table;
}

html.no-grid .bn-grid:after {
  clear: both;
}

@media (min-width: 501px) {
  @supports (display: grid) {
    .bn-grid {
      grid-gap: 6px;
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: 1fr 1fr;
    }
  }
}

#categoryParentDiv {
  margin-bottom: 2rem;
}

@media (min-width: 801px) {
  .bn-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .bn-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.bn-trending {
  display: none;
}

body.bn-zero-results .bn-trending {
  display: flex;
}

.bn-item {
  display: block;
  margin-bottom: 6px;
  position: relative;
}

html.no-grid .bn-item {
  float: left;
  overflow: hidden;
  padding: 4px;
  width: 50%;
}

@media (min-width: 801px) {
  html.no-grid .bn-item {
    width: 33.3%;
  }
}

@media (min-width: 1025px) {
  html.no-grid .bn-item {
    width: 25%;
  }
}

@media (min-width: 501px) {
  .bn-item {
    margin-bottom: 0;
  }
}

.bn-item:hover .bn-item-tag {
  opacity: 1;
}

.bn-item.bn-item-placeholder {
  background: #313136;
  border-radius: 3%;
  color: #e7e7e7;
  cursor: default;
}

.bn-item.bn-item-placeholder .bn-item-img {
  align-items: center;
  display: flex;
  font-family: Quicksand, Helvetica Neue, Helvetica, Arial, sans-serif;
  justify-content: center;
}

.bn-item.bn-related-item {
  margin-bottom: 0;
}

.bn-item .bn-item-inner {
  height: 100%;
  padding-bottom: 100%;
  position: relative;
  transition: opacity 1s ease-out;
  width: 100%;
}

.bn-item .bn-item-img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 3%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-out;
  width: 100%;
}

.bn-item img {
  height: 100%;
  pointer-events: none;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bn-item span.debug {
  background: red;
  color: #fff;
  display: none;
  font-size: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 7;
}

.bn-item span.bn-item-tag:last-child {
  margin-right: 0;
}

.bn-item span.bn-item-tag--recent {
  background: #66bb6a;
}

.bn-item span.bn-item-tag--hot {
  background: #ef5350;
}

.bn-item span.bn-item-tag + span.bn-item-tag {
  right: 36px;
}

.bn-item.bn-queued .bn-item-tag {
  display: none;
  opacity: 0;
}

.bn-item.bn-queued .bn-item-img {
  opacity: 0;
}

.bn-item.bn-item-2x1 {
  grid-column: span 2;
}

.bn-item.bn-item-2x1 .bn-item-img {
  border-radius: 1.5% 1.5% 1.5% 1.5%/3% 3% 3% 3%;
}

@supports (display: grid) {
  .bn-item.bn-item-2x1 .bn-item-inner {
    padding-bottom: 50%;
  }

  .bn-item.bn-item-2x1.bn-related-item {
    grid-column: span 1;
  }

  .bn-item.bn-item-2x1.bn-related-item .bn-item-inner {
    -ms-overflow-style: none;
    border-radius: 3%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 100%;
    scrollbar-width: none;
  }
}

@supports (display: grid) {
  .bn-item.bn-item-2x1.bn-related-item .bn-item-inner::-webkit-scrollbar {
    display: none;
  }

  .bn-item.bn-item-2x1.bn-related-item .bn-item-inner img {
    width: 200%;
  }
}

@media (max-width: 499px) {
  .bn-item.bn-item-2x1:after {
    background: none;
    color: #fff;
    content: "\e813";
    font-family: bnews;
    opacity: 0.5;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  @supports (display: grid) {
    .bn-item.bn-item-2x1 .bn-item-inner {
      -ms-overflow-style: none;
      border-radius: 3.5%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 100%;
      scrollbar-width: none;
    }

    .bn-item.bn-item-2x1 .bn-item-inner::-webkit-scrollbar {
      display: none;
    }

    .bn-item.bn-item-2x1 .bn-item-inner img {
      width: 200%;
    }
  }
}

.bn-item.bn-item-3x1 {
  grid-column: span 2;
}

.bn-item.bn-item-3x1 .bn-item-img {
  border-radius: 1.5% 1.5% 1.5% 1.5%/3% 3% 3% 3%;
}

@media (min-width: 801px) {
  .bn-item.bn-item-3x1 {
    grid-column: span 3;
  }

  .bn-item.bn-item-3x1 .bn-item-img {
    border-radius: 1% 1% 1% 1%/3% 3% 3% 3%;
  }
}

@supports (display: grid) {
  .bn-item.bn-item-3x1 .bn-item-inner {
    padding-bottom: 33.3%;
  }

  .bn-item.bn-item-3x1.bn-related-item {
    grid-column: span 1;
  }

  .bn-item.bn-item-3x1.bn-related-item .bn-item-inner {
    -ms-overflow-style: none;
    border-radius: 3%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 100%;
    scrollbar-width: none;
  }
}

@supports (display: grid) {
  .bn-item.bn-item-3x1.bn-related-item .bn-item-inner::-webkit-scrollbar {
    display: none;
  }

  .bn-item.bn-item-3x1.bn-related-item .bn-item-inner img {
    width: 300%;
  }
}

@media (max-width: 499px) {
  .bn-item.bn-item-3x1:after {
    background: none;
    color: #fff;
    content: "\e813";
    font-family: bnews;
    opacity: 0.5;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  @supports (display: grid) {
    .bn-item.bn-item-3x1 .bn-item-inner {
      -ms-overflow-style: none;
      border-radius: 3.5%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 100%;
      scrollbar-width: none;
    }

    .bn-item.bn-item-3x1 .bn-item-inner::-webkit-scrollbar {
      display: none;
    }

    .bn-item.bn-item-3x1 .bn-item-inner img {
      width: 300%;
    }
  }
}

@media (min-width: 501px) and (max-width: 799px) {
  @supports (display: grid) {
    .bn-item.bn-item-3x1 .bn-item-inner {
      -ms-overflow-style: none;
      border-radius: 1% 1% 1% 1%/3% 3% 3% 3%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 50%;
      scrollbar-width: none;
    }

    .bn-item.bn-item-3x1 .bn-item-inner::-webkit-scrollbar {
      display: none;
    }

    .bn-item.bn-item-3x1 .bn-item-inner img {
      width: 150%;
    }
  }
}

.bn-item.bn-item-1x2 {
  grid-row: span 2;
}

.bn-item.bn-item-1x2 .bn-item-img {
  border-radius: 3% 3% 3% 3%/1.5% 1.5% 1.5% 1.5%;
}

@supports (display: grid) {
  .bn-item.bn-item-1x2 .bn-item-inner {
    padding-bottom: 200%;
  }

  .bn-item.bn-item-1x2.bn-related-item {
    grid-row: span 1;
  }

  .bn-item.bn-item-1x2.bn-related-item .bn-item-inner {
    -ms-overflow-style: none;
    border-radius: 3.5%;
    overflow-y: scroll;
    padding-bottom: 100%;
    scrollbar-width: none;
  }
}

@supports (display: grid) {
  .bn-item.bn-item-1x2.bn-related-item .bn-item-inner::-webkit-scrollbar {
    display: none;
  }

  .bn-item.bn-item-1x2.bn-related-item .bn-item-inner img {
    height: 200%;
  }
}

.bn-item.bn-item-1x3 {
  grid-row: span 3;
}

.bn-item.bn-item-1x3 .bn-item-img {
  border-radius: 3% 3% 3% 3%/1% 1% 1% 1%;
}

@supports (display: grid) {
  .bn-item.bn-item-1x3 .bn-item-inner {
    padding-bottom: 200%;
  }

  .bn-item.bn-item-1x3.bn-related-item {
    grid-row: span 1;
  }

  .bn-item.bn-item-1x3.bn-related-item .bn-item-inner {
    -ms-overflow-style: none;
    border-radius: 3.5%;
    overflow-y: scroll;
    padding-bottom: 100%;
    scrollbar-width: none;
  }
}

@supports (display: grid) {
  .bn-item.bn-item-1x3.bn-related-item .bn-item-inner::-webkit-scrollbar {
    display: none;
  }

  .bn-item.bn-item-1x3.bn-related-item .bn-item-inner img {
    height: 200%;
  }
}

.bn-item.bn-item-2x2 {
  grid-column: span 2;
  grid-row: span 2;
}

.bn-item.bn-item-2x2 .bn-item-img {
  border-radius: 1.5%;
}

.bn-item.bn-item-2x2 .bn-item-inner {
  padding-bottom: 100%;
}

@supports (display: grid) {
  .bn-item.bn-item-2x2.bn-related-item {
    grid-column: span 1;
    grid-row: span 1;
  }

  .bn-item.bn-item-2x2.bn-related-item .bn-item-inner {
    -ms-overflow-style: none;
    border-radius: 3.5%;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-bottom: 100%;
    scrollbar-width: none;
  }

  .bn-item.bn-item-2x2.bn-related-item .bn-item-inner::-webkit-scrollbar {
    display: none;
  }

  .bn-item.bn-item-2x2.bn-related-item .bn-item-inner img {
    height: 200%;
    width: 200%;
  }
}

.bn-item.bn-item-filtered {
  display: none;
}

.accord-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.form-heading {
  margin-bottom: 30px;
}

.main-container {
  margin-bottom: 20px;
}

.div h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.accordion-button:focus {
  box-shadow: none !important;
  background-color: white !important;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
}

.accordion-button {
  height: 4rem;
}

/* trending section */

.langing_page-top {
  letter-spacing: 0.5px;
}

.feedwrapper {
  height: 100vh;
  display: flex;
  width: 65%;
  flex-direction: column;
}

.feed-header {
  display: flex;
  height: 100px;
  padding-left: 15%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #eee9ff;
}

.menu-logo {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  background-color: #3243e9;
  text-decoration: none;
}

.menu-logo .logo {
  line-height: -2px;
  text-align: center;
  color: #fff;
}

.tickerwrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid #ccc;
}

.tickerwrapper .menu-link {
  display: flex;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  color: #3243e9;

  max-width: 100%;
}

.langing_page-top-sidebar .menu-ticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #ccc;
}

.langing_page-top-sidebar .menu-ticker a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease-out;
  /* background-color: #fff; */
}

.langing_page-top-sidebar .menu-ticker:hover {
  background-color: #ccc8ff;
}

.langing_page-top-sidebar h3 {
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
}

.langing_page-top-sidebar .label {
  margin-bottom: 5px;
  /* color: #3243e9; */
  font-weight: 700;
}

.menuwrapper {
  display: flex;
  width: 120px;
  height: 100vh;
  flex-direction: column;
  background-color: #eee9ff;
}

a {
  text-decoration: none;
}

.feedwrapper .feed-item {
  display: flex;
  height: auto;
  min-height: 90px;
  padding: 5% 15%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  border-top: 1px solid #ccc8ff;
  background-color: #eee9ff;
  color: #464646;
}

.feedwrapper a:hover {
  background-color: #ccc8ff;
}

.feedwrapper a p {
  line-height: 18px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-top: 0;
}

.feedwrapper .feed-link {
  display: flex;
  padding: 5% 15%;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  border-top: 1px solid #ccc8ff;
  background-color: #eee9ff;
  color: #3243e9;
}

.top-nav {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: stretch;
  flex: 0 0 auto;
  background-color: #fff;
}

.top-nav a:hover {
  background-color: rgba(96, 50, 233, 0.08);
}

.top-nav .nav-link {
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  transition: background-color 400ms cubic-bezier(0.77, 0, 0.175, 1);
  letter-spacing: 0.5px;
  font-size: 14px;
}

.navwrapper {
  background-image: linear-gradient(90deg, transparent, #fff),
    linear-gradient(180deg, transparent, #fff),
    linear-gradient(180deg, #eee9ff, #eee9ff);
  display: flex;
  flex: 0 auto;
}

.trending-card img {
  height: 280px;
}

.card-half img {
  height: 200px;
}

.langing_page-contentwrapper .content-section {
  display: flex;
  gap: 20px;
  padding-right: 3%;
  padding-bottom: 5%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.content-col {
  width: 64%;
  overflow: hidden;
  flex: 1;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
#categoryPathName {
  font-weight: 900;
  color: #0f3f6e;
}

@media (max-width: 510px) {
  .card-half {
    width: 100%;
  }
}

.card-placeholder-img-01 {
  width: 100%;
  flex: 0 auto;
}
@media (min-width: 500px) {
  .card-half {
    max-width: 46%;
    width: 100%;
    flex: 0 auto;
  }
}

.content-col img {
  width: 100%;

  object-fit: cover;
  opacity: 0.8;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}

.trending-card-content {
  display: block;
  padding: 10px 0;
}

.trending-card-content .card-meta {
  margin-right: 10px;
  margin-bottom: 5px;
  opacity: 0.8;
}

.side-col .card-meta {
  opacity: 0.5;
}

.trending-card-content h3 {
  color: #464646;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;

  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.trending-card-content h3:hover {
  color: #0f3f6e !important;
}

.trending-card-content p {
  text-align: justify;
  color: #464646;
}

.card-path span:first-child {
  color: #0f3f6e;
  font-weight: 600;
  opacity: 1;
}

.trending-card-content p {
  margin-top: 0;
}

@media (min-width: 810px) {
  .side-col {
    width: 40%;
    gap: 20px;
  }
}

.side-col .placeholder-image-04 {
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  height: auto;
  opacity: 0.8;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8)),
    url(https://tinyurl.com/52zpfvfm);
  color: white;
}

.side-col .placeholder-image-05 {
  padding: 20px;
  border-radius: 10px;
  background-color: #eee9ff;
  min-height: 160px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2b03a4;
}

.side-col .placeholder-image-05 .card-meta {
  margin-bottom: 10px;
}

.side-col .placeholder-image-05 .thumbnailwrapper {
  margin-top: 0;
  padding: 10px;
  width: max-content;
  background-color: #ccc8ff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
}

.side-col .placeholder-image-05 .thumbnailwrapper i {
  font-size: 40px;
}

.side-col .placeholder-image-05 .card-title {
  font-weight: 400;
}

.card-title:hover {
  color: #3243e9;
  cursor: pointer;
}

.side-col .placeholder-image-04 .tag-breaking {
  display: flex;
  flex-direction: row-reverse;
}

.side-col .placeholder-image-04 .tag-breaking span {
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}

.--active {
  background: #ccc8ff;
  color: black;
}

.langing_page-top-sidebar {
  display: none;
}

.content-section .side-col {
  display: grid;
  gap: 1rem;
}

@media (max-width: 810px) {
  .content-section .side-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 809px) {
  .content-section .side-col .placeholder-image-05:nth-child(3n) {
    grid-column: span 2;
  }
}

/* @media only screen and (min-width:650px) and (max-width:810px){
 
} */

.landingpagesidebar {
  display: none;
  width: 370px;
  height: 100vh;
  background-color: #0f3f6e;
  transition: all 0.3s ease-out;
  color: white;
  z-index: 12;
  position: fixed;
  top: 0;
  opacity: 1;
  transform: translateX(100%);
}

@media (min-width: 811px) and (max-width: 1023px) {
  .langing_page-contentwrapper {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    flex-direction: column;
    flex: 1;
  }
}

@media (max-width: 810px) {
  .landingpagesidebar {
    display: block;
    opacity: 1;
    transform: translateX(0) skew(0);
    visibility: visible;
  }

  .content-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }

  .langing_page-contentwrapper {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    flex-direction: column;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
  }

  .content-section .content-col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
}

.langing_page-top-sidebar {
  height: 100vh;
  position: sticky;
  top: 80px;
}

@media (min-width: 1024px) {
  .langing_page-contentwrapper {
    display: flex;
    float: right;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 380px);
  }

  .langing_page-top-sidebar {
    display: flex;
    width: 370px;
  }
}
