@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "apexcharts.css";
@import "perfect-scrollbar.css";
@import "daterangepicker.css";

/* primary colors secondary color */

:root {
	--body-font: "Nunito", sans-serif;
	--desktop-width: 250px;
	--mobile-width: 60px;
	--header-height: 50px;

	/* Color valiables */
	--white-100: #ffffff;
	--primary-100: rgb(196, 217, 255);
	--primary-200: rgb(163, 191, 244);
	--primary-300: rgb(130, 165, 233);
	--primary-400: rgb(97, 140, 221);
	--primary-500: rgb(64, 114, 210);
	--primary-600: rgb(33, 57, 229);
	--primary-700: rgb(23, 66, 149);
	--primary-800: rgb(18, 44, 94);
	--extra-800: rgb(68, 227, 211);

	--darklight-100: #ffffff;
	--darklight-200: #dbdbdb;
	--darklight-300: #b6b6b6;
	--darklight-400: #929292;
	--darklight-500: #6d6d6d;
	--darklight-600: #494949;
	--darklight-700: #242424;
	--darklight-800: #000000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--body-font);

}
a {
	text-decoration: none;
}
.list-style-none {
	list-style: none;
}
.blur {
	filter: blur(3px);
}
.breadcrumb-item + .breadcrumb-item::before {
	font-family: Icofont !important;
	content: "\eab8" !important;
}

.text-primary-100 {
	color: var(--primary-100);
}
.text-primary-200 {
	color: var(--primary-200);
}
.text-primary-300 {
	color: var(--primary-300);
}
.text-primary-400 {
	color: var(--primary-400);
}
.text-primary-500 {
	color: var(--primary-500);
}
.text-primary-600 {
	color: var(--primary-600);
}
.text-primary-700 {
	color: var(--primary-700);
}
.text-primary-800 {
	color: var(--primary-800);
}
.text-darklight-100 {
	color: var(--darklight-100);
}
.text-darklight-200 {
	color: var(--darklight-200);
}
.text-darklight-300 {
	color: var(--darklight-300);
}
.text-darklight-400 {
	color: var(--darklight-400);
}
.text-darklight-500 {
	color: var(--darklight-500);
}
.text-darklight-600 {
	color: var(--darklight-600);
}
.text-darklight-700 {
	color: var(--darklight-700);
}
.text-darklight-800 {
	color: var(--darklight-800);
}
.text-extra-800 {
	color: var(--extra-800);
}

.bg-primary-100 {
	background: var(--primary-100);
}
.bg-primary-200 {
	background: var(--primary-200);
}
.bg-primary-300 {
	background: var(--primary-300);
}
.bg-primary-400 {
	background: var(--primary-400);
}
.bg-primary-500 {
	background: var(--primary-500);
}
.bg-primary-600 {
	background: var(--primary-600);
}
.bg-primary-700 {
	background: var(--primary-700);
}
.bg-primary-800 {
	background: var(--primary-800);
}
.bg-extra-800 {
	background: var(--extra-800);
}

.bg-darklight-100 {
	background: var(--darklight-100);
}
.bg-darklight-200 {
	background: var(--darklight-200);
}
.bg-darklight-300 {
	background: var(--darklight-300);
}
.bg-darklight-400 {
	background: var(--darklight-400);
}
.bg-darklight-500 {
	background: var(--darklight-500);
}
.bg-darklight-600 {
	background: var(--darklight-600);
}
.bg-darklight-700 {
	background: var(--darklight-700);
}
.bg-darklight-800 {
	background: var(--darklight-800);
}



/*============= Header ======== */

/*============= Header Ends ======== */


/*============= Footer ======== */

.footer .ending{
	font-size: 12px;
	opacity: .5;
}
.vl {
	border-left: 1px solid white;
	height: 15px;
	opacity: .5;
}
.footer li{
	list-style: none;
	font-size: 10px;
	font-weight: 600;
	opacity: .5;
	
}
.footer a{
	text-decoration: none;
	color: white;
}
.footer a:hover{
	text-decoration: none;
	color: white;
}
.footer li+li{
	margin: 1rem;
}
.footer .footer-header{
	padding-bottom: 2rem;
}
.footer :focus, input:focus{
    outline: none;
}
.footer input{
	border-bottom: 1px solid yellow;
	border-right: 1px solid yellow;
	background-color: var(--darklight-700);
	min-width: 70%;
	
	/* padding: 150px; */
}
.email-block{
	min-width: 100% !important;
}
.footer  hr{
	margin-top: 3.5rem !important;
    margin-bottom: 1.5rem !important;
}
/*============= Footer Ends ======== */

/*============= remaining ui ======== */
.news-block{
	padding: 0 2.5rem !important;
	
	
}
.news-block a{
	color: #000000;
	font-weight:bold !important;
}
.news-block+.news-block{
	margin-top: 20px;
}

